<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List - Aplicação Web</title>
    <link rel="stylesheet" href="~/css/main.min.css">
    <script src="~/js/min/main.min.js" defer></script>
</head>
<body>
    @RenderBody()
</body>
</html>