<section class="home py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-principal-dark">Bem-vindo ao To-do List App!</h1>
                <h3>O melhor e mais eficiente aplicativo de tarefas on-line!</h3>
                <p> Adicione e modifique tarefas de qualquer lugar!</p>
            </div>
        </div>
    </div>
</section>