.lista-item {
    transition: all 0.2s;

    &:hover {
        @extend .bg-cinza-principal;

        p {
            @extend .text-cinza-light;
        }
    }
}

.adicionar-lista {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
}

.editar-lista {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
}